@model HOK.Elastic.FileSystemCrawler.Models.CompletionInfo

@{
    ViewData["Title"] = "CompletionInfo";
}
<div>
    <dl class="row border border-primary rounded-sm">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.exitCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.exitCode)
        </dd>
            <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileSkipped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileSkipped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileNotFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileNotFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobNotes)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InputPathCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputPathCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InputPaths)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model=>Model.InputPaths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationSeconds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationSeconds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPUCoreThreadMultiplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPUCoreThreadMultiplier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppVersion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppVersion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReadFileContents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReadFileContents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CrawlMode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CrawlMode)
        </dd>
    </dl>
</div>
