@model IEnumerable<HOK.Elastic.FileSystemCrawler.Models.InputPathEventStream>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PathFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresenceAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStampUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PathFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresenceAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStampUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
