@model HOK.Elastic.FileSystemCrawler.WebAPI.DAL.Models.SettingsJobArgsDTO

<div>
    <dl class="row border border-primary rounded-sm">
         <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ElasticIndexURI)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ElasticIndexURI)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ElasticDiscoveryURI)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.ElasticDiscoveryURI)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CrawlThreads)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CrawlThreads)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DocReadingThreads)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.DocReadingThreads)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DocInsertionThreads)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.DocInsertionThreads)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.RunningInteractively)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.RunningInteractively)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.JobNotes)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.JobNotes)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.JobName)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.JobName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.InputPathLocation)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.InputPathLocation)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.JsonQueryString)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.JsonQueryString)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CrawlMode)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CrawlMode)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ReadFileContents)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ReadFileContents)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PathForCrawling)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PathForCrawling)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PathForCrawlingContent)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PathForCrawlingContent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PublishedPath)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PublishedPath)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IndexNamePrefix)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.IndexNamePrefix)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ExceptionsPerTenMinuteIntervalLimit)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ExceptionsPerTenMinuteIntervalLimit)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ReadContentSizeLimitMB)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ReadContentSizeLimitMB)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.BulkUploadSize)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.BulkUploadSize)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PathInclusionRegex)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PathInclusionRegex)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FileNameExclusionRegex)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.FileNameExclusionRegex)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CPUCoreThreadMultiplier)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CPUCoreThreadMultiplier)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.OfficeSiteExtractRegex)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.OfficeSiteExtractRegex)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProjectExtractRegex)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ProjectExtractRegex)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PipeCategorizationRegex)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PipeCategorizationRegex)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EmailNotification)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.EmailNotification)
        </dd>
    </dl>
</div>