@model HostedJobQueue
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>   
</div>
<div>
    <ul>
        <li>Jobs: @Model.Jobs.Count()</li>
        <li>Currently can do @Model.FreeSlots more jobs</li>
        <li>Completed @Model.JobCompleted jobs</li>
        <li>Uptime: @Model.UpTime</li>
    </ul>
</div>
<div>
    <pre>@Program.AppVersion</pre>
</div>
<div>
@{
    var link1 = @Url.Action("index", "jobs");
    var link2 = @Url.Action("index", "jobsAPI");
    var link3 = @Url.Action("0", "jobsAPI");
}
<pre>
  Example Links:  
<a href=@link1>@link1</a>   
<a href=@link2>@link2</a>
<a href=@link3>@link3</a>
</pre>
</div>